header {
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
  flex: 0 1 auto;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

footer {
  background-color: #333;
  color: white;
  padding: 5px;
  text-align: center;
  flex: 0 1 auto;
}