.file-scanner {
  display: flex;
  flex-direction: row;
  gap: 15px;
  padding: 15px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  align-items: center;
  width: 40%;
  min-width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.file-scanner button {
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  transition: background-color 0.2s;
}

.file-scanner button:hover {
  background-color: #f0f0f0;
}

.file-scanner div {
  display: flex;
  gap: 10px;
}

.file-scanner .end-buttons {
  justify-content: flex-end;
  align-items: center;
  margin-left: auto;
}

.file-scanner button:disabled {
  background-color: #e0e0e0;
  color: #999;
  cursor: not-allowed;
  border: 1px solid #ccc;
}